body
{
	font-family: 'Arial', sans-serif;
	background-color: #f0f8ff;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 75vh;
	overflow: hidden;
}
.container
{
	text-align: center;
	background-color: #ffffff;
	padding: 40px;
	max-width: 43%;
	height: auto;
	word-wrap: break-word;
	overflow-wrap: break-word;
	border-radius: 10px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
h1
{
	color: #333;
	font-size: 2.5rem;
	margin-top: 12px;
}
#instruction
{
	font-size: 1.2rem;
	color: #666;
	margin-bottom: 30px;
}
#name
{
	font-size: 1.2rem;
	color: #444;
	margin-bottom: 0px;
}
button
{
	background-color: #4CAF50;
	color: white;
	padding: 15px 30px;
	margin-left: 15px;
	margin-right: 15px;
	font-size: 1.1rem;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}
button:hover
{
	background-color: #45a049;
}
@media(max-width: 600px)
{
	.container
	{
		padding: 15px;
		max-width: 85%;
	}
	#form
	{
		margin-top: 5px;
	}
}
